.size-10 { font-size: 10px; }
.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }

h1, h2, h3, h4 {
  font-weight: 300;
}

p {
  font-size: 18px;
}
@-webkit-keyframes beating {
  0% {-webkit-transform: scale(0.8);}
  50% {-webkit-transform: scale(1.7);}
  100% {-webkit-transform: scale(0.8);}
  0% {-moz-transform: scale(0.8);}
  50% {-moz-transform: scale(1.7);}
  100% {-moz-transform: scale(0.8);} 
  0% {-ms-transform: scale(0.8);}
  50% {-ms-transform: scale(1.7);}
  100% {-ms-transform: scale(0.8);}
  0% {-o-transform: scale(0.8);}
  50% {-o-transform: scale(1.7);}
  100% {-o-transform: scale(0.8);} 
  0% {transform: scale(0.8);}
  50% {transform: scale(1.7);}
  100% {transform: scale(0.8);} 
}
@-moz-keyframes beating {
  0% {-webkit-transform: scale(0.8);}
  50% {-webkit-transform: scale(1.7);}
  100% {-webkit-transform: scale(0.8);}
  0% {-moz-transform: scale(0.8);}
  50% {-moz-transform: scale(1.7);}
  100% {-moz-transform: scale(0.8);} 
  0% {-ms-transform: scale(0.8);}
  50% {-ms-transform: scale(1.7);}
  100% {-ms-transform: scale(0.8);}
  0% {-o-transform: scale(0.8);}
  50% {-o-transform: scale(1.7);}
  100% {-o-transform: scale(0.8);} 
  0% {transform: scale(0.8);}
  50% {transform: scale(1.7);}
  100% {transform: scale(0.8);} 
}
@-ms-keyframes beating {
  0% {-webkit-transform: scale(0.8);}
  50% {-webkit-transform: scale(1.7);}
  100% {-webkit-transform: scale(0.8);}
  0% {-moz-transform: scale(0.8);}
  50% {-moz-transform: scale(1.7);}
  100% {-moz-transform: scale(0.8);} 
  0% {-ms-transform: scale(0.8);}
  50% {-ms-transform: scale(1.7);}
  100% {-ms-transform: scale(0.8);}
  0% {-o-transform: scale(0.8);}
  50% {-o-transform: scale(1.7);}
  100% {-o-transform: scale(0.8);} 
  0% {transform: scale(0.8);}
  50% {transform: scale(1.7);}
  100% {transform: scale(0.8);} 
}
@-o-keyframes beating {
  0% {-webkit-transform: scale(0.8);}
  50% {-webkit-transform: scale(1.7);}
  100% {-webkit-transform: scale(0.8);}
  0% {-moz-transform: scale(0.8);}
  50% {-moz-transform: scale(1.7);}
  100% {-moz-transform: scale(0.8);} 
  0% {-ms-transform: scale(0.8);}
  50% {-ms-transform: scale(1.7);}
  100% {-ms-transform: scale(0.8);}
  0% {-o-transform: scale(0.8);}
  50% {-o-transform: scale(1.7);}
  100% {-o-transform: scale(0.8);} 
  0% {transform: scale(0.8);}
  50% {transform: scale(1.7);}
  100% {transform: scale(0.8);} 
}
@keyframes beating {
  0% {-webkit-transform: scale(0.8);}
  50% {-webkit-transform: scale(1.7);}
  100% {-webkit-transform: scale(0.8);}
  0% {-moz-transform: scale(0.8);}
  50% {-moz-transform: scale(1.7);}
  100% {-moz-transform: scale(0.8);} 
  0% {-ms-transform: scale(0.8);}
  50% {-ms-transform: scale(1.7);}
  100% {-ms-transform: scale(0.8);}
  0% {-o-transform: scale(0.8);}
  50% {-o-transform: scale(1.7);}
  100% {-o-transform: scale(0.8);} 
  0% {transform: scale(0.8);}
  50% {transform: scale(1.7);}
  100% {transform: scale(0.8);} 
}
/*navbar section*/

.glyphicon-heart {
  color: #f00;
  display: inline-block;
  -webkit-animation: beating 3s infinite;
  -moz-animation: beating 3s infinite;
  -ms-animation: beating 3s infinite;
  animation: beating 3s infinite;
}
.navbar {
  background: #fff;
}

.navbar a.navbar-brand {
  color: #0067A6!important;
}
.navbar a {
  color: #333!important;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
  .navbar .container-fluid {
  width: 95%;
  }
}

#contact {
/*  border: 1px solid #333!important;*/
  text-align: center;
  background: #0089D8;
  color: #fff!important;
  border-radius: 20px;
  margin-top: 5px;
  margin-right: 20px;
  padding: 10px 15px;
}

/*header section*/
header {
  background: linear-gradient(to right top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url('../img/web.jpg') no-repeat top left;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -20px;
/*  background: #4A485C;*/
  height: 600px;
  text-align: center;
}

header h1 {
  font-size: 60px;
  padding-top: 180px;
  color: #fff;
}

header h3 {
  color: #fff;
}

header #learnmore {
  text-decoration: none;
  display: inline-block;
  margin-top: 25px;
  font-size: 20px;
  background: #fff;
  padding: 15px 30px;
  border-radius: 5px; 
  transition: all 0.5s linear;
}

header #learnmore:hover {
  background: rgba(255, 255, 255, 0.9);
  transform: scale(1.1);
}

/*courses section*/
#courses {
  margin-top: 40px;
  margin-bottom: 100px;
}

/*quote section*/
#quote {
  background: linear-gradient(to top right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) ), #FF007D;
  color: #fff;
/*  height: 350px;*/
}

#quote h2 {
  font-size: 38px;
  font-family: 'Indie Flower', cursive, Georgia, "Times New Roman", serif;
  line-height: 1.6em;
  margin-bottom: 30px;
}
.quote {
  margin-top: 70px;
/*  margin-bottom: 50px;*/
}

.jobs {
  font-size: 32px;
  text-align: right;
  margin-bottom: 70px;
  font-family: 'Indie Flower', cursive, Georgia, "Times New Roman", serif;
}
/*benefits section*/
section.container {
  text-align: center;
}

.benefits {
  margin-top: 50px;
  margin-bottom: 120px;
}

#benefit {
  margin-top: 40px;
}


#benefit h3 {
  color: #0089D8;
  margin-bottom: 20px;
}

#benefit p {
  line-height: 1.6em;
}

@media (min-width: 979px) {
  .container {
  width: 87%;
  }
}

.mytitle {
  margin-top: 60px;
  margin-bottom: 30px;
  color: #666;
}


#benefit span {
  color: #0089D8;
  margin-bottom: 15px;
  margin-top: 50px;
}

#benefit span.glyphicon {
/*  background-color: #0089D8; */
/*  #F55064;*/
}

/*
#benefit span.glyphicon-ok-circle {
  background-color: #0089D8;
    #B2A086;
}

#benefit span.glyphicon-flash {
  background-color: #014DAE;
}
 
#benefit span.glyphicon-wrench {
  background-color: #6C8EA6;
}

#benefit span.glyphicon-eye-open {
  background-color: #8AB839;
} 

#benefit span.glyphicon-education {
  background-color: #265E57;
}
*/

/*footer section*/
footer {
  padding-top: 40px;
  padding-bottom: 30px;
  color: #fff;
  background-color: #363940;
/*  #333*/
}

footer li {
  font-size: 13px;
  line-height: 2em;
  list-style: none;
}

footer p {
  font-size: 13px;
  line-height: 1.8em;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #eee;
  text-decoration: none;
}

footer .glyphicon{
  color: #777;
  padding: 9px 8px 7px 8px;
  background: #fff;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-right: 10px;
}