<section id="benefits"  class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="mytitle">小孩学习编程的好处</h2>
      <hr/>
    </div>
  </div>
  <div class="row benefits">
<!--     1st line-->
    <div class="col-md-4" data-sr>
      <span class="glyphicon glyphicon-paperclip size-72"></span>
      <h3 >强化逻辑思维能力</h3>
      <p>编程其实就是如何把大问题不断分割成小问题的过程，其中，小孩必须去思考如何把代码合理的安排在整个程序中，才能让程序流畅运行，这无疑将极大的提升小孩对事物的逻辑分析能力。</p>
    </div>
    <div class="col-md-4" data-sr>
      <span class="glyphicon glyphicon-ok-circle size-72"></span>
      <h3>培养专注力与耐性</h3>
      <p>Debug（调试），是每个编程人员的必经之路，不论大人小孩都不例外。在学习编程debug的过程中，是绝对无法得过且过的，因此，这能有效改正小孩马虎行事的毛病，避免当个差不多先生。</p>
    </div>  
    <div class="col-md-4" data-sr>
      <span class="glyphicon glyphicon-flash size-72"></span>
      <h3>开启创新思维之门</h3>
      <p>孩子们与机器互动，使用电脑解决复杂的问题，将想法付诸于实践，在整个过程中将会产生无数的创意。这样的体验既培养了学生的创新意识，又提高了实践能力，更为创新思维插上了飞翔的翅膀。</p>
    </div>
  </div>
<!--     2nd line-->
  <div class="row benefits">
    <div class="col-md-4" data-sr>
      <span class="glyphicon glyphicon-wrench size-72"></span>
      <h3>提高问题解决能力</h3>
      <p>面对各种编程挑战时，小孩会利用学到的知识，并为通过关卡而不断地动脑。一旦养成这种习惯，在碰到生活中或是学习上的问题时，自然也会试着自己解决，而不是一句话交给爸妈去处理。</p>
    </div>
    <div class="col-md-4" data-sr>
      <span class="glyphicon glyphicon-eye-open size-72"></span>
      <h3>将创意转化为产品</h3>
      <p>编程不同于一般学校教的数理化等学科，当你学会了某一种编程语言后，就会促使你去实现自己的想法。当小孩有了自己的创意时，他们完全可以用自己所学的编程语言将这些想法用App来实现。</p>
    </div>
    <div class="col-md-4" data-sr>
      <span class="glyphicon glyphicon-education size-72"></span>
      <h3>提升全球化竞争力</h3>
      <p>小孩在幼时接触的环境，往往跟以后的发展有极大的关联。如果不想与世界脱轨，就应该尽早让他们学习电脑编程，或是了解编程是怎么一回事，这将会是他们日后面对国际竞争时的有力武器。</p>
    </div>
  </div>
</section>