<div id="course-bar" class="row" ng-controller="HeaderController">
  <div class="col-md-12">
    <div class="btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
      <a ng-class="{ active: isActive('/course-baby')}" href="#/course-baby" class="btn btn-default">好奇宝宝（6-7周岁</a>
      <a ng-class="{ active: isActive('/course-cat')}" href="#/course-cat" class="btn btn-default">科技猫（8-14周岁）</a>
      <a ng-class="{ active: isActive('/course-maker')}" href="#/course-maker" class="btn btn-default">创客达人（12-18周岁）</a>
    </div>
    <hr/>
  </div>
</div>