<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-sm-4 col-xs-12">
        <ul class="address">
          <li><span class="glyphicon glyphicon-home"></span> 地址：上海市杨浦区世纪大道100号</li>
          <li><i class="fa fa-phone"></i> 电话：xxxx-xxxx
            <br>(最佳致电时间：周一至周五上午10点 - 下午5点)</li>
          <li><i class="fa fa-envelope"></i> 电邮：<a href='mailto:info@codexmaker.com'>info@codexmaker.com</a></li>
          <li>微信：codex</li>
        </ul>
      </div>
      <div class="col-lg-2 col-sm-4 col-xs-6">
        <ul>
          <li class="nav-title">课程项目</li>
          <li><a href="#/course-baby" ng-click = "tab = 2">好奇宝宝</a></li>
          <li><a href="#/course-cat" ng-click = "tab = 2">科技猫</a></li>
          <li><a href="#/course-maker" ng-click = "tab = 2">创客达人</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-sm-4 col-xs-6">
        <ul>
          <li class="nav-title">了解我们</li>
          <li><a href="#/history" ng-click = "tab = 0">公司由来</a></li>
          <li><a href="#/team" ng-click = "tab = 0">核心团队</a></li>
          <li><a href="#/join" ng-click = "tab = 0">加入我们</a></li>
        </ul>
      </div>
      <div class="col-lg-5 col-sm-12" id="vision">           
        <p>CodeX Maker 致力于推广与运营面向儿童青少年的趣味电脑编程及创意科技教育项目，以提高数字时代学生的创新思维及动手能力。通过科技创新教育，有效地发掘他们对高科技的兴趣，从而成为21世纪创新科技发展的有力推动者。</p>
        <p id="copy-right">版权所有 &copy; 2016-2020 上海北极狐教育科技有限公司</p>
      </div>
    </div>
  </div>
</footer>