<section id="faq" class="container" ng-controller="ScrollCtrl">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mytitle">常见问题</h2>
      <hr/>
    </div>
  </div>
  <div class="row">
<!--
    <div class="col-md-10 col-md-offset-1">
      <div class="faq">
        <h3>常规类</h3>
        <h4><a href="#q1">学编程对孩子有什么样的好处？</a> </h4>
        <h4><a href="#q2">小孩学编程对学习学校的日常课程有帮助吗？</a> </h4>
        <h4><a href="#q3">从小学习可视化编程对他们以后学习真正的编程语言有什么样的帮助？</a> </h4>
        <h4><a href="#q4">到底该参加哪个好，常规课程还是假日训练营？</a> </h4>
        <h4><a href="#q5">既然少儿编程有这么多好处，为什么中国还没普及起来？</a> </h4>
        <h4><a href="#q6">我的小孩沉溺于玩电脑游戏，学习编程能转移他的注意力吗？</a> </h4>

        <h3 id="technical">技术类</h3>
        <h4><a href="#q7" >什么是可视化编程？</a> </h4>
      </div>
-->
      <div class="answer">
        <h3 id="q1">学编程对孩子有什么样的好处？</h3>
        <p>小孩学编程具有诸多好处，例如强化逻辑思维能力，培养专注力与耐心，发掘创造力，提高解决实际问题的能力等等，这些能力正是21世纪人才必备的基本技能要求。</p>
        <h3 id="q2">小孩学编程对学习学校的日常课程有帮助吗？</h3>
        <p>除了上述提到的几大好处外，编程还可以帮助孩子们扩展学校日常课程，比如语文，数学，外语等的学习深度。很多日常课程中遇到的问题都可以通过编程的形式进一步学习，加深印象，让平时枯燥的学习变得好玩有趣，真正做到寓教于学。</p>
        <h3 id="q3">小孩学习可视化编程对他们以后学习真正的编程语言有什么样的帮助？</h3>
        <p>可视化编程看起来似乎很简单，却处处体现着编程的精髓，变量，顺序，条件语句，循环语句，判断等功能都通过可拖拽的积木块来实现。尽早地掌握这些编程的核心概念可以让小孩今后更快速地学习基于文本的编程语言，而且小孩可以用可视化编程进行游戏设计，艺术创作，讲故事等等，这过程本身需要发挥孩子丰富的想象力，而且充满了无限的乐趣。</p>
        <h3 id="q4">到底该参加哪个好，常规课程还是假日训练营？</h3>
        <p>常规课程通常安排在平时的晚上或周末，因此整个课程的跨度时间可长达几个月，好处在于学生有足够多的时间进行复习与自我训练。假日训练营的好处是可以让小孩在短时间内（通常一周以内）以浸入式的方式大量的学习编程知识，对学生的学习能力提出了更高的要求。由于假日训练营通常安排在大型的节假日，寒暑假等，因此大部分的课程还是以常规课程为主。我们提倡以小孩的个人意愿来选择课程，让他们从小就学会怎么自己做决定。</p>
        <h3 id="q5">既然小孩学编程有这么多好处，为什么中国还没普及起来？</h3>
        <p>小孩学编程是欧美近几年才兴起的教育新趋势，爱沙尼亚，英国，芬兰等发达国家已将编程纳入正规教育体系。中国目前似乎并没有类似计划，其中的原因是多方面的。首先，在学校全面开展编程教育意味着需要培训大量的教师以胜任教学工作，这在短期内是无法实现的。其次，学生在学校的课业本来就很重，把编程强制纳入教育体系，只能意味着学生的负担更重了。学习编程是激发学生兴趣与热情的利器，如若被纳入正规教育体系，那么编程势必也会像其他课程一样，以考试作为其唯一考核目标，这就失去了我们所倡导的以兴趣为导向学习的本质。所以，小孩学编程目前只能在具有前瞻性视野并有硬件设施的大城市试行，然后推广到中国更多的地区。目前，国内运营青少年科技教育的机构还不够多，质量也不够高，因此必然会出现供不应求的现象，而且短期内得不到缓解。</p>
        <h3 id="q6">我的小孩沉溺于玩电脑游戏，学习编程能转移他的注意力吗？</h3>
        <p>任何东西都具有双刃剑的效果，电脑也是如此。有的小孩可以在电脑上找资料，学习新的知识，有的却沉溺于网络游戏不能自拔，渐渐地失去了学习的兴趣。学习编程对于这些喜欢玩电脑游戏的孩子来说，同样具有吸引力，因为编程可以教会他们如何设计出自己的游戏来，与同伴一起玩自己设计的游戏，非常的cool，这将极大地提升他们的自信心并重新拾回对学习的兴趣。真正的编程高手同时也是玩电脑游戏高手！</p>
        <h3 id="q7">什么是可视化编程？</h3>
        <p>任何东西都具有双刃剑的效果，电脑也是如此。有的小孩可以在电脑上找资料，学习新的知识，有的却沉溺于网络游戏不能自拔，渐渐地失去了学习的兴趣。学习编程对于这些喜欢玩电脑游戏的孩子来说，同样具有吸引力，因为编程可以教会他们如何设计出自己的游戏来，与同伴一起玩自己设计的游戏，非常的cool，这将极大地提升他们的自信心并重新拾回对学习的兴趣。真正的编程高手同时也是玩电脑游戏高手！</p>
      </div>
    </div>  
  </div>
</section>
