<section id="features" class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mytitle">课程特色</h2>
      <hr/>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
          <i class="glyphicon glyphicon-random size-72"></i>
          <h3>全球接轨的课程</h3>
          <p>我们只教授时下全球最流行的编程语言，其中有美国麻省理工学院开发的可视化趣味编程语言，ScratchJr和Scratch，以及业界标准的web开发语言HTML, CSS, JavaScript和用于物联网开发的Python。</p>
      </div>
      <div class="col-sm-6 col-md-4">
          <i class="glyphicon glyphicon-check size-72"></i>
          <h3>美国原版教程</h3>
          <p>鉴于大部分的优秀教材都来源于美国的事实，我们只采用经由我们内部翻译后的第一手原版教程。另外，主创始人拥有多年的海外留学经验，因此我们也提供全英文授课，预了解详情请联系咨询。</p>
      </div>
      <div class="col-sm-6 col-md-4">
          <i class="glyphicon glyphicon-blackboard size-72"></i>
          <h3>私塾式小班教学</h3>
          <p>与传统的大教室授课不同，学习编程需要进行大量的实际操作以更深刻地掌握编程的概念。因此，我们规定每个班次的学生总数不超过12人，以保证师生间足够的互动，从而提高学生的学习效果。</p>
      </div>
      <div class="col-sm-6 col-md-4">
          <i class="glyphicon glyphicon-send size-72"></i>
          <h3>以兴趣为导向</h3>
          <p>作为应试教育的过来人，我们深知兴趣的重要性，因此将以激发学生的学习兴趣为导向，让他们开动自主学习的小马达，并将此热情传递到学校日常课程的学习中，真正做到“妈妈再也不用担心我的学习！”</p>
      </div>
      <div class="col-sm-6 col-md-4">
          <i class="glyphicon glyphicon-cog size-72"></i>
          <h3>基于项目的学习</h3>
          <p>Project-Based Learning (PBL) 是一种在国外非常流行的新型教学模式，不同于教科书式的“填鸭式”教学。学生通过做不同的项目，并最终以呈现作品的方式来体现他们在此过程中所建构的知识体系。</p>
      </div>
      <div class="col-sm-6 col-md-4">
          <i class="glyphicon glyphicon-refresh size-72"></i>
          <h3>良好的课程衔接性</h3>
          <p>我们的课程难度由低到高呈梯字型，适合不同年龄段的学生。因此，学习就像打游戏冲破一道道关卡一样好玩，随着课程难度的提升，学生所学的知识也变得越实用并且整个学习过程充满趣味。</p>
      </div>
    </div>
  </div>
</section>
