<section class="free-course" data-sr>
  <div class="container">
    <div class="row">
      <div class="col-md-12" >
          <h2 class="mytitle">免费课程</h2>
      </div>  
    </div>
  </div>
</section>
<section class="free-course" data-sr>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-1" >
        <img class="img-responsive" src="../img/courses/free-course.png" alt="">
      </div>
      <div class="col-md-6" >
        <p>本启蒙课程培养孩童对科技的兴趣，通过ScratchJr进行简单的游戏设计，动画模拟，故事表达等，初识编程概念，并为学习进阶课程打下基础。</p>
      </div>  
    </div>
  </div>
</section>
<section class="free-course" data-sr>
  <div class="container">
    <div class="row">
      <div class="col-md-6" >
        <h2>要求</h2>
        <p>本启蒙课程培养孩童对科技的兴趣，通过ScratchJr进行简单的游戏设计，动画模拟，故事表达等，初识编程概念，并为学习进阶课程打下基础。</p>
      </div>  
      <div class="col-md-5 col-md-offset-1" >
        <img class="img-responsive" src="../img/courses/free-course.png" alt="">
      </div>
    </div>
  </div>
</section>