<section id="letter" class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mytitle">致中国家长的一封信</h2>
      <hr/>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1" >
        <p>尊敬的各位家长，</p>
        <br>
        <p>不管你是否已经意识到，我们的社会正在变得越来越数字化，移动互联网，智能家居及各种App（应用程序）充斥着我们的日常生活，极大地丰富与方便了我们的生活并提高了工作效率。这些看似不相关的技术其实都离不开一门关键技术，那即是电脑编程 (国外称之为coding或programming)。新时代的孩童从小在平板电脑（iPad），智能手机和电脑的陪伴下长大，因此他们也被戏称为&ldquo;数字原住民（Digital Native）&rdquo;。科技已经在孩子们的教育中扮演了相当重要的角色，美国有些中学甚至将iPad引进了课堂，以提高学生的学习兴趣与热情。但我们必须认识到，绝大部分学生目前只是用这些数字产品玩玩游戏，上上网，或用搜索引擎查询资料，在电脑上学习office软件的操作等等，因此他们只是高科技与数字娱乐的被动消费者而非主动创造者。美国麻省理工学院（MIT）媒体实验室的米切尔·瑞思尼克教授认为，数字原住民应该具有制作与创造技术的能力。在一个日趋数字化的世界里，学生们应该学习基本的电脑编程技能和了解软件的工作原理以面对未来的全球化竞争。</p>
        <br>
        <p>学习编程是欧美近几年兴起的教育新趋势，美国总统奥巴马在2012年计算机科学教育周的&ldquo;编程一小时（Hour of Code）&rdquo;开幕活动中提倡每个美国人都要学习编程，并说道&ldquo;不要只是买一个视频游戏，更要去制作它。不要只是下载一个最新的App应用，更要去帮助设计它。不要只是玩玩你的手机，更要去学会编程。没有人生来就是计算机科学家，但是仅需一些苦功，一些数学和科学知识，每个人都能成为一个计算机科学家。&rdquo; 2012年Skype的发源地爱沙尼亚 (Estonia) 政府已决定将学习电脑编程纳入正规教育体系。英国政府规定2014年9月起，5岁以上学龄儿童必须学习电脑编程。在2014年芬兰成为继爱沙尼亚和英国之后第三个欲将计算机编程纳入小学生教学大纲的国家。此外，微软、谷歌、苹果、Facebook等科技大牛企业也在全球范围内通过各种活动来推广编程教育，希望让更多学生接触并喜爱这一过去被认为是只有少数专业人士才能掌握的技能。已故苹果创始人史蒂夫·乔布斯曾说&ldquo;人人都应该学会如何掌控计算机，学会编程，因为它教会你如何思考。&rdquo; 百度公司首席执行官李彦宏则表示&ldquo;写一个程序能让上亿人使用，这样的成就感，我想对于每一个人来说都是有吸引力的。&rdquo; </p>
        <br>
        <p>当然你可能会想，&ldquo;我小孩以后不一定要做程序员，为什么还要学习编程？&rdquo; 首先，在我们设计的初级课程中，小孩并不需要直接接触编程语言，而是学习一种由MIT开发的&ldquo;可视化&rdquo;编程语言，他们学编程绝不是为了学某种能够通过简单培训就能掌握的技巧或者死记各种编程语法，而是要从小培养他们的计算式思维（computational thinking）模式。就像大部份的人并不会立立志要当专业作家，但仍然从小学习读书与写字，因为这些是基本素养，为何学习编程也是相同的道理。目前国际上逐渐形成的主流&ldquo;编程基础教育&rdquo;，更注重学生从编写游戏程序及App中获得趣味与满足感，通过简单地编程学习，灌输基本的编程思想，强化学生的逻辑思维能力，解决问题和创新思考能力以及沟通交流技能等，而这些能力正是21世纪人才的必备技能。另外，编程无疑对学生的英文阅读能力、数学逻辑思维有较高的要求，因为最好的编程学习资料往往来源于国外，尤其是美国，因此如果学生能尽量通过阅读第一手原版资料来学编程，那么无形中他们的英文水平也会得到很大的提高。相信大家都有过类似的体会，虽然你很努力地学习数理化等学科，却很难用学到的知识去创造出新东西以实现自己的某个想法。编程则不一样，当你学会了某一种编程语言后，就会促使你去实现自己的想法。当孩子们发现市场上的某个App不能满足自己的要求时，他们会想为什么不自己设计开发呢？这真是一个非常cool的想法，而且对提高他们的自信心及发现自我价值具有很大的帮助。因此，coding被誉为是除中文和英文以外，中国学生必须掌握的第三门语言。对于未来有志于从事高科技行业的学生来说，学会电脑编程无疑为自己打开了一扇兴趣的大门，为将来的进一步深造指明了方向并打下了坚实的基础。</p>
        <br>
        <p>科技改变未来，从学coding开始吧！最后还是套用一下那句老话，数字时代的竞争已悄然而至，不要让你的孩子输在起跑线上。</p>
        <br>
        <br>
        <div id="aboutme">
          <h4>叶飞洪</h4>
          <p id="mytitle">海归工学博士<br>CodeX Maker 联合创始人<br>2016年初春于中国上海</p>
        </div>
        <hr>
        <p>关于我</p>
        <p>自小被同学冠以&ldquo;学霸&rdquo;称号，是老师心目中的学习楷模，是以兴趣为导向学习的积极实践者。高中毕业于浙江省衢州第二中学，本科入读&ldquo;南方少林寺&rdquo;华南理工大学，曾拿着丰厚的欧盟全额奖学金求学欧洲及日本，具有丰富的海外留学经验，拥有三个微电子信息通讯类硕士学位（分别来自香港，意大利及日本）及一个光通信博士学位（丹麦），是久负盛名的国家优秀自费留学生奖学金2015年度获得者，并在欧洲十四国、日本、澳大利亚、加拿大及美国都留下了自己的足迹。近年来更是迷上了电脑编程，立志通过推广与运营趣味编程项目让国内广大的儿童青少年学习并爱上时下最酷炫的coding，成为新时代的科技弄潮儿。</p>
      </div>  
    </div>
  </div>
</section>