<section id="team" data-sr class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mytitle">联合创始人</h2>
      <hr/>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-4" data-sr>
        <img src="../img/panda.dms" alt="">  
        <h3>叶飞洪 (Isaac)</h3>
        <h5 class="position">联合创始人，技术与运营</h5>
        <p>本科毕业于“南方少林寺”，曾求学欧洲及日本，拥有三个海外微电子信息通讯类硕士学位及一个丹麦光通信博士学位。</p>
<!--          <p>近年来更是迷上了电脑编程，立志通过推广与运营趣味编程项目让国内广大的儿童青少年学习并爱上时下最酷炫的coding，成为新时代的科技弄潮儿。</p>-->
      </div>
      <div class="col-md-4" data-sr>
        <img src="../img/panda.dms" alt="">  
        <h3>汤建晓 (Tom)</h3>
        <h5 class="position">联合创始人，市场与运营</h5>
        <p>高中毕业于浙江省衢州第二中学，获“南方少林寺”华南理工大学电气工程学士学位。</p>
<!--          <p>近年来更是迷上了电脑编程，立志通过推广与运营趣味编程项目让国内广大的儿童青少年学习并爱上时下最酷炫的coding，成为新时代的科技弄潮儿。</p>-->
      </div>
      <div class="col-md-4" data-sr>
        <img src="../img/panda.dms" alt="">  
        <h3>江峰 (Jeff)</h3>
        <h5 class="position">联合创始人，市场与运营</h5>
        <p>高中毕业于浙江省衢州第二中学，获上海师范大学计算数学专业硕士学位。</p>
<!--          <p>近年来更是迷上了电脑编程，立志通过推广与运营趣味编程项目让国内广大的儿童青少年学习并爱上时下最酷炫的coding，成为新时代的科技弄潮儿。</p>-->
      </div>
    </div>
  </div>
</section>